.App {
  background-image: linear-gradient(aliceblue, #94cdff);
  background-size: cover;
}

.days-div {
  padding-left: 25px;
}

.new-day-div {
  padding: 50px;
}

.date-label {
  font-weight: 500;
}

.day-header {
  padding-left: 25px;
  padding-top: 15px;
}

.mood-input-div {
  padding-left: 30px;
}

.mood-display {
  padding-left: 25px;
  color: rgb(0, 5, 8);
}